flows.json
[
    {
        "id": "ecfde4cca1100151",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74201757e63932cd",
        "type": "inject",
        "z": "ecfde4cca1100151",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "b98dd1745fd0d2fc"
            ]
        ]
    },
    {
        "id": "0d9b29b8da4b9257",
        "type": "debug",
        "z": "ecfde4cca1100151",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "b98dd1745fd0d2fc",
        "type": "function",
        "z": "ecfde4cca1100151",
        "name": "function 1",
        "func": "var date = new Date();\nmsg.payload = date;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 280,
        "wires": [
            [
                "0d9b29b8da4b9257"
            ]
        ]
    }
]